<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<link rel="stylesheet" href="app/homeautomation.css" type="text/css">
<link rel="stylesheet" href="css/icomoon.css" type="text/css">
<link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
<link rel="stylesheet" href="css/bootstrap-theme.min.css"
	type="text/css" />


<script src="js/jquery-3.3.1.slim.min.js" /></script>
<script src="js/angular.min.js" /></script>
<script src="js/bootstrap.min.js" /></script>
<script src="app/homeautomation2.js" /></script>
<title>Homeautomation</title>
</head>
<body ng-app="ButtonControl">
	<div ng-controller="ButtonController">
		<button ng-click="setBoilerOn()" type=" button"
			class="btn btn-success">Boiler on</button>
		<button ng-click="setBoilerOff()" type=" button"
			class="btn btn-danger">Boiler off</button></br>
		<button ng-click="setAllLightsOn()" type="button"
			class="btn btn-success">All lights on</button>
		<button ng-click="setAllLightsOff()" type="button"
			class="btn btn-danger">All lights off</button>
	</div>

</body>
</html>